@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root{
  --font-family-main: "Nunito", sans-serif; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #434243;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: #434243;
  border-radius: 18px;
}

::selection {
  background: #434243; 
  color: #B2B2B1;
}
::-moz-selection {
  background: #434243; 
  color: #B2B2B1;
}
::-webkit-selection {
  background: #434243; 
  color: #B2B2B1;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-main);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #121417;
}

textarea:focus, input:focus{
  outline: none;
}

.container{
  max-width: 928px;
  margin: 36px auto;
  width: 100%;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Flipped
{
    direction: rtl;
}
.Content
{
    direction: ltr;
}
