@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #121417;
}

textarea:focus, input:focus{
  outline: none;
}

.container{
  max-width: 928px;
  margin: 0 auto;
  width: 100%;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* svg{
  position: relative;
  z-index: 0;
}



path:hover {
  fill: #f00;
  transform: scale(1.1);
  z-index: 10;
} */

path {
  position: relative;
  z-index: 0;
  transform: scale(1);
  transition: transform 0.3s;
  transform-origin: center center;
  
}

path:hover {
  transform: scale(1.1); /* Увеличение при наведении */
  cursor: pointer; /* Изменение курсора */
  position: relative; /* Устанавливаем позиционирование */
  z-index: 1; /* Делаем элемент поверх остальных */
}